<nav class="top-navbar">
  <div class="navbar-left d-flex align-items-center">
    <img src="https://unrivaled-sundae-e419d6.netlify.app/logo.png" alt="Logo" class="logo" />
    <a *ngIf="userRol === 'cliente'" routerLink="/home">🐭 Rincón Sylvanian</a>
    <a *ngIf="userRol === 'cliente'" routerLink="/tarjeta">🎟️ Mi Tarjeta</a>
    <a *ngIf="userRol === 'cliente'" routerLink="/historial">📜 Historial</a>
    <a *ngIf="userRol === 'cliente'" routerLink="/mis-tarjetas">📦 Mis Tarjetas</a>
    <a *ngIf="userRol === 'admin'" routerLink="/admin">🛠️ Administrar</a>
  </div>

  <div class="navbar-right" (click)="toggleMenu()" tabindex="0">
    <span class="usuario">👩‍💼 {{ auth.obtenerNombre() }}</span>
    <div class="user-menu" *ngIf="menuAbierto">
      <a routerLink="/configuracion">⚙️ Configuración</a>
      <button (click)="cerrarSesion()">🚪 Cerrar sesión</button>
    </div>
  </div>
</nav>
