<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">🐭 Rincón Sylvanian</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      <li class="nav-item" *ngIf="userRol === 'cliente'">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item" *ngIf="userRol === 'cliente'">
        <a class="nav-link" routerLink="/tarjeta">Mi Tarjeta</a>
      </li>
      <li class="nav-item" *ngIf="userRol === 'cliente'">
        <a class="nav-link" routerLink="/historial">Historial</a>
      </li>
      <li class="nav-item" *ngIf="userRol === 'cliente'">
        <a class="nav-link" routerLink="/mis-tarjetas">Mis Tarjetas</a>
      </li>

      <li class="nav-item" *ngIf="userRol === 'admin'">
        <a class="nav-link" routerLink="/admin">Administrar</a>
      </li>
    </ul>

    <div class="d-flex align-items-center">
      <span class="me-3 text-muted">👤 {{ auth.obtenerNombre() }}</span>
      <button class="btn btn-outline-danger btn-sm cerrar" (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
  </div>
</nav>