<div class="admin-container">
  <h2 class="titulo-admin">👩‍💼 Panel de Administración</h2>

  <input [(ngModel)]="busqueda" placeholder="🔍 Buscar por nombre..." class="input-busqueda" />

  <table class="tabla-usuarios">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Stickers</th>
        <th>Asignar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuariosFiltrados()">
        <td data-label = "Nombre">{{ u.nombre }}</td>
        <td data-label = "Correo">{{ u.correo }}</td>
        <td data-label = "Stickers">{{ u.stickers }}</td>
        <td data-label = "Asignar">
          <button (click)="asignarSticker(u.id)" class="btn-asignar">🎟️ Asignar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
