<!-- Pantalla de carga -->
<app-cargando *ngIf="cargando"></app-cargando>
<div class="login-container">
  <img src="assets/images/logo.png" alt="Logo" class="logo mb-4" />

  <h2 class="mb-3 text-center" style="color: #b3887b;">Iniciar sesión</h2>

  <form (ngSubmit)="iniciarSesion()">
    <div class="form-group mb-3">
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="Correo electrónico"
        class="form-control"
        required
      />
    </div>

    <div class="form-group mb-2">
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Contraseña"
        class="form-control"
        required
      />
    </div>

    <div class="text-end mb-3">
      <span
        (click)="router.navigate(['/recuperar'])"
        style="font-size: 0.9rem; color: #a679b4; cursor: pointer; text-decoration: underline;"
      >
        ¿Olvidaste tu contraseña?
      </span>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-2 text-center">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn w-100 mt-3"
      style="background-color: #e69bbf; border: none; color: white; font-weight: bold;">
      Ingresar
    </button>
  </form>

  <p class="mt-3 text-muted text-center">
    ¿No tienes cuenta?
    <span
      (click)="router.navigate(['/registro'])"
      style="color: #a679b4; cursor: pointer; text-decoration: underline;"
    >
      Regístrate aquí
    </span>
  </p>
</div>
