.login-container {
  max-width: 400px;
  margin: 100px auto;
  background: #ffffffee;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  .logo {
    width: 120px;
  }

  input {
    border-radius: 10px;
    padding: 0.75rem;
  }

  button {
    background-color: #b5b299;
    border-color: #b5b299;
    font-weight: bold;

    &:hover {
      background-color: #a39f88;
    }
  }
}
@media (max-width: 600px) {
  .login-container {
    width: 90vw;
    margin: 60px auto;
    padding: 1.5rem;

    .logo {
      width: 100px;
    }

    input {
      font-size: 1rem;
    }

    button {
      font-size: 1rem;
      padding: 0.75rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .form-group {
      margin-bottom: 1rem;
    }
  }
}

.enlace-registro {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #0056b3;
  }
}
