<div class="home-container">
  <img src="assets/images/logo.png" alt="Rincón Sylvanian" class="logo" />

  <h1 class="title text-center mt-4">
    Gracias por darnos tu confianza,<br />
    ahora nosotros te daremos premios ✨
  </h1>

  <div class="card mt-5">
    <div class="card-body">
      <h3 class="mb-4 text-center">¿Cómo funciona?</h3>
      <ul class="list-unstyled fs-5">
        <li>🛒 Por cada compra igual o superior a $15.000 conseguirás un sticker para tu tarjeta.</li>
        <li>🎟️ Deberás pegarlos en tu tarjeta digital.</li>
        <li>🎁 Cada vez que completes 3 stickers desbloquearás un premio.</li>
        <li>💌 Te avisaremos cuando ganes para que reclames tus premios o descuentos ✨</li>
      </ul>

      <h4 class="mt-4 text-center">Reglas de uso:</h4>
      <ul class="list-unstyled fs-6 mt-2">
        <li>📌 Puedes canjear tu descuento en Sylvanian individual, accesorios o set de Sylvanian.</li>
        <li>📌 El descuento es válido en 1 producto, no en el total de la compra.</li>
        <li>📌 Descuento máximo aplicable: $10.000.</li>
        <li>📌 Los stickers no se pueden ceder a otro usuario de IG; cada tarjeta es única según la cuenta que realiza la compra. 🫶🏻</li>
      </ul>
    </div>
  </div>
</div>
