.home-container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  padding: 1rem;

  .logo {
    width: 140px;
    border-radius: 15px;
  }

  .title {
    font-family: 'Comic Sans MS', cursive;
    color: #b3887b;
  }

  .card {
    background: #fff5e8;
    border: 2px dashed #ecd9c6;
    border-radius: 20px;
    padding: 2rem;
  }

  .btn-primary {
    background-color: #b5b299;
    border-color: #b5b299;

    &:hover {
      background-color: #a29e8c;
    }
  }

  .btn-outline-secondary {
    color: #b5b299;
    border-color: #b5b299;

    &:hover {
      background-color: #b5b299;
      color: white;
    }
  }
}
@media (max-width: 768px) {
  .contenedor {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .titulo {
    font-size: 1.2rem;
    text-align: center;
  }

  .btn {
    width: 100%;
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }

  .espacio {
    width: 12vw;
    height: 12vw;
    max-width: 50px;
    max-height: 50px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
.fondo-img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: 0; // 👈 bajamos el z-index solo un nivel
  opacity: 0.2;
  pointer-events: none; // 👈 evita que bloquee clics
}